@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section .content {
  position: relative;
  z-index: 10;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section .content h2 {
  position: relative;
  color: #fff;
  font-size: 10vw;
  line-height: 0.55em;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Dancing Script", coursive;
}

section .content h2 span {
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background: #fff;
  color: #111;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

section.active .glass {
  width: 100%;
  -webkit-backdrop-filter: 20px;
          backdrop-filter: 20px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
}

section.active .content {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  position: relative;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url("/source/img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .toggle.active {
  background: url("/source/img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 25px;
}

header .toggle.active::before {
  content: "Close";
}

header .toggle::before {
  content: "Menu";
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 2px;
  font-style: 14px;
  padding: 2px 5px;
  background: #fff;
}
