@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }
    .glass {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        z-index: 1;
        backdrop-filter: blur(15px);
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        transition-delay: 0s;
    }
    .content {
        position: relative;
        z-index: 10;
        text-align: center;
        transition: 0.5s;
        transition-delay: 0.2s;
        h2 {
            position: relative;
            color: #fff;
            font-size: 10vw;
            line-height: 0.55em;
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            font-family: "Dancing Script", coursive;
            span {
                font-size: 0.2em;
                font-weight: 300;
                letter-spacing: 5px;
                background: #fff;
                color: #111;
                padding: 0 10px;
                text-shadow: 0 5px 5px rgba(0, 0, 0, 0);
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                text-transform: uppercase;
            }
        }
    }
    &.active {
        .glass {
            width: 100%;
            backdrop-filter: 20px;
            transition-delay: 0s;
            box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
        }
        .content {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-200px);
            transition-delay: 0s;
        }
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        position: relative;
        font-size: 2em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url("/source/img/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
            background: url("/source/img/close.png");
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            background-size: 25px;
            &::before {
                content: "Close";
            }
        }
        &::before {
            content: "Menu";
            position: absolute;
            right: 45px;
            text-transform: uppercase;
            color: #111;
            letter-spacing: 2px;
            font-style: 14px;
            padding: 2px 5px;
            background: #fff;
        }
    }
}
